
$theme-colors: (
  primary: #00bcd4,
  secondary: #ffa726,
  danger: #df1e04d5,
  
);

$bg-light:#62efff;
$bg-dark: #008ba3; 
$bg-secondary: #ffa726;
$text-color:  #424242;

@import '~bootstrap/scss/bootstrap.scss';
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";






